<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="gripper.xacro" />

    <material name="arm_material">
        <color rgba="0.7 0.7 0.7 1.0" />
    </material>

    <joint name="arm_base_joint" type="fixed">
        <parent link="chassis"/>
        <child link="arm_base_link"/>
        <origin xyz="0.15 0 0.0445" rpy="${pi/2} 0 0"/>
    </joint>

    <link name="arm_base_link">
        <xacro:inertial_box mass="0.1" x="0.01" y="0.01" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="arm_segment_0_joint" type="revolute">
        <parent link="arm_base_link"/>
        <child link="arm_segment_0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 0 1" />

        <limit lower="-3.826" upper="0" velocity="0" effort="0"/>
    </joint>

    <link name="arm_segment_0">
        <xacro:inertial_box mass="0.15" x="0.09" y="0.025" z="0.035">
            <origin xyz="-0.035 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
        <collision>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/>
            <geometry>
                <mesh filename="${mesh_folder}version_6/arm_v2/arm_segment_0_reduced.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
            <material name="arm_material"/>
            <!--
            <origin xyz="-0.035 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.09 0.025 0.035" />
            </geometry>
            -->
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/>
            <geometry>
                <mesh filename="${mesh_folder}version_6/arm_v2/arm_segment_0_reduced.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
            <material name="arm_material"/>
        </visual>
    </link>

    <joint name="arm_segment_1_joint" type="revolute">
        <parent link="arm_segment_0"/>
        <child link="arm_segment_1"/>
        <origin xyz="-0.1 0 0" rpy="0 0 0"/>
        <axis xyz="0 0 1" />

        <limit lower="-0.785398163" upper="1.570796327" velocity="0" effort="0"/>
    </joint>

    <link name="arm_segment_1">
        <xacro:inertial_box mass="0.1" x="0.025" y="0.075" z="0.035">
            <origin xyz="-0.02 0.025 0" rpy="0 0 0"/>
        </xacro:inertial_box>
        <collision>
            <origin xyz="-0.02 0.05 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <mesh filename="${mesh_folder}version_6/arm_v2/arm_segment_1_reduced.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
            <material name="arm_material"/>
            <!--
            <origin xyz="-0.02 0.025 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.025 0.075 0.035" />
            </geometry>
            -->
        </collision>

        <visual>
            <origin xyz="-0.02 0.05 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <mesh filename="${mesh_folder}version_6/arm_v2/arm_segment_1_reduced.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
            <material name="arm_material"/>
        </visual>
    </link>

    <joint name="arm_segment_2_joint" type="revolute">
        <parent link="arm_segment_1"/>
        <child link="arm_segment_2"/>
        <origin xyz="-0.02 0.05 0" rpy="0 0 0"/>
        <axis xyz="0 0 1" />

        <limit lower="0" upper="3.091592654" velocity="0" effort="0"/>
    </joint>

    <link name="arm_segment_2">
        <xacro:inertial_box mass="0.05" x="0.05" y="0.03" z="0.035">
            <origin xyz="0.045 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
        <collision>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/>
            <geometry>
                <mesh filename="${mesh_folder}version_6/arm_v2/arm_segment_2_reduced.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
            <material name="arm_material"/>
            <!--
            <origin xyz="0.045 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.03 0.035" />
            </geometry>
            -->
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/>
            <geometry>
                <mesh filename="${mesh_folder}version_6/arm_v2/arm_segment_2_reduced.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
            </geometry>
            <material name="arm_material"/>
        </visual>
    </link>

    <joint name="gripper_base_joint" type="fixed">
        <parent link="arm_segment_2" />
        <child link="gripper_base" />
        <origin xyz="0.066 -0.0155 -0.0002 " rpy="${-pi/2} 0 0"/>
        <axis xyz="0 0 1" />
    </joint>
    
</robot>